body {
	background: #999 url('images/bg2.png');
	margin: 0;
	text-align: center;
	overflow: hidden;
}

.title {
	width: 100%;
	height: 200px;
	top: 0;
	background: #ee3333;
	color: #eee;
	font-size: 120px;
	font-family: 'Open Sans Condensed', sans-serif;
}
.title:before {
	display: block;
	content: 'test';
	position: absolute;
	top: 50px;
	left: 20px;
}

.left-panel {
	width: 35%;
	position: absolute;
	top: 200px;
	bottom: 0;
	//background: orange;
}

.right-panel {
	width: 35%;
	top: 0;
	bottom: 0;
	//background: orange;
	position: absolute;
	right: 0px;
}

.page {
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-transition: 0.3s;
	opacity: 0;
	z-index: -1;
}

#wrapper {
	width: 100%;
	position: relative;
	height: 100%;
	top: -100%;
	//background: blue;
	//opacity: 0.2;
	-webkit-transition: 1s;
}

.content {
	//display: block;
	position: absolute;
	width: 300px;
	height: 300px;
	//background: yellow;
	margin: -150px -150px;
	top: 60%;
	left: 50%;
}

.icon {
	width: 100%;
	height: 100%;
	position: absolute;
	bottom: 0;
	background-size: 100% 100%;
}

.drawer {
	position: absolute;
	margin: -210px -360px;
	width: 700px;
	height: 400px;
	top: 150%;
	left: 50%;
	//background: orange;
	padding: 20px 20px 0 0;
}
.drawer > div {
	float: left;
	position: relative;
	width: 120px;
	height: 120px;
	background-size: 100% 100%;
	margin: 0 0 20px 20px;
}


.lightup {
	-webkit-filter: brightness(0);
}

.lightup:hover {
	-webkit-filter: brightness(0.1);
}


.link {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 1;
	//background: red;
}

#footer {
	width: 120px;
	height: 64px;
	background: #ddd;
	position: absolute;
	bottom: 0;
	left: 50%;
	margin-left: -60px;
	opacity: 0.3;
	z-index: 2;
}
#footer:hover {
	opacity: 0.6;
}
#footer:before {
	display: block;
	content: '';
	width: 20px;
	height: 20px;
	background: #bbb;
	
	position: absolute;
	top: 8px;
	left: 8px;
	
	box-shadow:      28px  0px 0 #bbb, 56px  0px 0 #bbb, 84px  0px 0 #bbb,
	0px 28px 0 #bbb, 28px 28px 0 #bbb, 56px 28px 0 #bbb, 84px 28px 0 #bbb;
}



.alias:target ~ #wrapper  {
	top: 0 !important;
}

.error {
	width: 240px;
	height: 80px;
	font-size: 32px;
	padding: 15px;
	color: white;
	position: relative;
	margin: 40px auto;
}
.error a {
	color: #ccc;
}